* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #464555;
  font-weight: 400;
}

.secondary-heading {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.grid {
  display: grid;
}

.grid--2-column {
  grid-template-columns: 260px 1fr;
}

.grid--2-row {
  grid-template-rows: 64px 1fr;
}
