.main {
  height: 100dvh;
  overflow-x: hidden;
}

/*****************
----MAIN ASIDE----
******************/
.main-aside {
  background-color: #f2f3ff;
  z-index: 3;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
}

.aside-header {
  margin: 20px 0 20px 26px;
}

.aside-header a {
  text-decoration: none;
  color: #3525cd;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.logo {
  width: 40px;
}

.main-nav {
  width: 230px;
  margin: 15px;
}

.main-nav-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 87dvh;
  list-style: none;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  padding: 16px 16px;
  transition: all 0.2s ease-in-out;
}

.non-selected:hover,
.non-selected:active {
  background-color: #e3e5f2;
  color: #655ea6;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
}

.main-nav-list li:first-child {
  background-color: #e2dfff;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
}

.selected span {
  color: #3525cd !important;
}

.selected-icon {
  color: #3525cd !important;
}

.main-nav-list li:last-child {
  margin-top: auto;
}

.main-nav-link:link,
.main-nav-link:visited {
  padding: 12px 6px;
  border-radius: 16px;
}

.nav-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: #464555;
}

.main-nav-link span {
  font-size: 16px;
  color: #464555;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 230px;
  height: 64px;
  font-family: "Inter", sans-serif;
  text-align: left;
  color: #464555;
  background-color: #eaedff;
  padding: 8px 8px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-box:hover,
.profile-box:active {
  background-color: #dde2ff;
  color: #655ea6;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-major {
  font-size: 11px;
}

/*****************
-DASHBOARD HEADER-
******************/
.dashboard-header {
  background-color: #faf8ff;
  z-index: 2;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.025);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.date {
  font-weight: 600;
}

/*****************
----DASHBOARD-SECTION-
******************/
.dashboard-section {
  background-color: #faf8ff;
  grid-column: 2 / -1;
  overflow-y: scroll;
  overflow-x: hidden;
}
